#sketchnotes{
	margin: 0 auto 0 auto;}

body{
	margin: 0 auto;
	width: 640px;
	background-color: #0B0B3B;
}
p{
	margin: 10px;
	
	color: #fff;
}
h1, h2{
	margin: 0px 50px 0px 50px;
	color: #fff;
	font-family: Calibri;
}
h2{
	padding: 0px 0px 40px 0px;
}
.sketchnote{
	border-width: 0px;
	border: medium;
	margin: 0px;;
	border-color: #fff;
	border-style: solid;
	padding: 15px;
	background: #fff;
}
