<!DOCTYPE html>
<html lang=""en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Single</title>
	<style type="text/css" media=""screen">
	.wrap{
		margin: 0 auto;
		width: 600px;
	}
	
	header, footer{
	background: #ccc;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header.</h1>
		</header>
		<section>
			<p>
			asiodjfaiosdjf asdkfjaskdf askdjfkl; ajsdfiamkajd fasd fj
			askdjfaiwej asdkjfa;isdcnk zjfkljdafjewijf;isdkj fijas;fojiejajkdsj cjkja;sdjvncz
			akjsdfikckvjzkdsljfzsdfasdijf;oiasjdfaoisjd fmczxkcf;k jzflkjs d;ljfia jwefjas dkfj 
			asiodjfaiosdjf asdkfjaskdf askdjfkl; ajsdfiamkajd fasd fj
			askdjfaiwej asdkjfa;isdcnk zjfkljdafjewijf;isdkj fijas;fojiejajkdsj cjkja;sdjvncz
			akjsdfikckvjzkdsljfzsdfasdijf;oiasjdfaoisjd fmczxkcf;k jzflkjs d;ljfia jwefjas dkfj 
			</p>
			<p>
			asiodjfaiosdjf asdkfjaskdf askdjfkl; ajsdfiamkajd fasd fj
			askdjfaiwej asdkjfa;isdcnk zjfkljdafjewijf;isdkj fijas;fojiejajkdsj cjkja;sdjvncz
			akjsdf ikckvj zkdsljf zsdfasdijf;oiasjdfaoisjd fmczxkcf;k jzflkjs d;ljfia 
			asiodjfaiosdjf asdkfjaskdf askdjfkl; ajsdfiamkajd fasd fj
			askdjfaiwej asdkjfa;isdcnk zjfkljdafjewijf;isdkj fijas;fojiejajkdsj cjkja;sdjvncz
			akjsdfikckvjzkd  sljfzsdfasdijf;oiasjdfaoisjd fmc zxkcf;k jzflkjs d;ljfia.
			Lorem ipsum 
			</p>
		</section>
		<footer>
			<p>this is a footer.</p>
		</footer>
	</div>

</body>

</html>
